@import "tailwindcss";

@layer base {
  html,
  body,
  #root {
    height: 100%;
    min-height: 100%;
  }

  body {
    overflow: hidden;
    background-color: var(--color-zinc-950);
    color: var(--color-zinc-100);
  }

  #root {
    min-height: 100dvh;
  }
}
